<center>
  <div class="container">
    <h1>URL Shorties!</h1>
    <h3>Error : Invalid URL. Input your URL</h3>

    <form action='/urls' method='post' >
      <center>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
              <!-- <label for="url_input">Input URL</label> -->
              
              <input type="text" class="form-control" name="url[original_url]" placeholder="e.g http://www.facebook.com">
              <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="Go">
                
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </center>
    </form>
  <br>


  </div>
</center>